#backgroudBoard{
	-fx-background-color: #CDE6D0;
    
}
#gridPane{
    -fx-grid-lines-visible: true;
}
.separator .line{
	-fx-border-color: grey;
	-fx-border-width: 1 1 1 1;
}

#RightInformationPane{
	-fx-font-size: 10pt;
    -fx-font-family: "Kabel";
    -fx-base: rgb(132, 145, 47);
 	-fx-background: rgb(225, 228, 203);
}
